body {
font-size: 14px;
line-height: 16px;
font-family: 'Brandon Grotesque','brandon-grotesque',Helvetica,sans-serif;
font-weight: normal;
color: #4b5256;
background-color: black;
overflow-x: hidden;
min-width: 1200px;
}

video{
    width: 100%;
    height: 1000;
    top: auto;
    margin: 200;
}

